h1{
    text-align: center;
}
#rpmDiv {

    border: 3px black solid;
    margin-bottom: 1%;
}
#dotsDiv {

    border: 3px black solid;
    margin-bottom: 1%;

}
#mfDiv {

    border: 3px black solid;
    margin-bottom: 1%;
}

#distanceDiv {

    border: 3px black solid;
    margin-bottom: 1%;
}
#heatmapDiv {

    border: 3px black solid;
    margin-bottom: 1%;
}
